
body{
    margin: 0;

    justify-content: center;
    flex-direction: column;

    background-color: #ffffff;

}
.container{
    margin: 0 auto;
    width: 980px;
}


header {

    display: flex;
    justify-content: center;
    margin-top: 25px;


    padding-bottom: 20px;
    align-content: stretch;
    padding-right: 10px;
    padding-left: 10px;

}

.h-con{
    width: 960px;
    display: flex;
    padding-left: 10px;

}
.first_img{
    width: 120px;
    height: 108px;
    margin-right: 10px;

}
.sec-b{
    width: 268px;
    height: 108px;
    background-color: #777777;
    margin-right: 22px;
}
.third-b{
    width: 510px;
    height: 108px;
    background-color: #777777;


}


.border-top{
    height: 1px;
    width: 940px;
    background-color: #696969;
    margin-left: 10px;

}

