
body{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 980px;


}
header {

    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px
;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    border-bottom-hight: 960px;
    align-content: stretch;

}
.h-con{
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

}
.first_img{
    height: 108px;
    width: 122px;
    margin-left: 20px;
    margin-right: 15px;

}
.sec-b{
    width: 280px;
    height: 108px;
    background-color: #777777;
    margin-right: 22px;
}
.third-b{
    width: 513px;
    height: 108px;
    background-color: #777777;
}




footer{
    align-items: flex-end;
    border-top: 1px solid #000;
    display: flex;
}